/venv/
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/geekbrans_py_algo.iml
/.idea/geekbrains_py_algo.iml
/.idea/workspace.xml
